/* You can customize theme styles here */

/* general */
body {
    background-color: #90EE90;
}

b, strong {
    font-weight: bold !important;
}

html body ::selection{
    background-color:#6897bb;
    color:#fff;
}

p a:hover, span a:hover {
    color: #6897bb !important;
}

.section li {
    color: rgba(0, 0, 0, 1) !important;
}


/* header */
.header .navbar-brand span:first-child{
    color: #0d4b0a !important;
    margin-right: 0.2em !important;
}

.header .container{
    padding-left: 10px;
}

@media (max-width: 768px) {
    .profile-image {
        margin-bottom: 2em;
    }
}


.footer__copy {
    white-space: wrap !important;
}

/* experience background color */
.experience.selected a,
.experience:hover a,
.experience:active a,
.experience a:hover,
.experience a:active {
    background-color: #6897bb !important;
}

div.experience__company {
    color: #6897bb !important;
}

/* fix h3 links color */
section#experience div#main-content h3 a {
    color: #6897bb !important;
}